# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environment
.venv/
env/
/htmlcov

# Environment variables
.env
.git

# Editor-specific files
.history/

# Testing and coverage
.coverage
.coverage.*

# Generated output files
plots/
*.png
*.html
ttm_forecasts.png
ttm_forecast_results.json
ttm_finetuned/

logs/
cache/
